node_modules
cron.js
.env

# Cron logs 
cron-logs.json

# Cron logs 
22-2-2022-kzye76l50u84farlp0hr.json

# Cron logs 
22-2-2022-kzye86yfbsniv3pgvoe.json

# Cron logs 
22-2-2022-kzye98e4bufnfas5gdd.json

# Cron logs 
22-2-2022-kzyebna6sz5r3bnfhgg.json
